.container {
  display: flex;
  justify-content: center;
  min-height: 92vh;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1200px;
    padding: 80px 5px;
    gap: 10px;

    .itemImg {
      display: flex;
      animation: imgShow ease-in-out 0.4s;

      @keyframes imgShow {
        0% {
          transform: translateX(-100vw);
        }
        25% {
          transform: translateX(-75vw);
        }
        50% {
          transform: translateX(-50vw);
        }
        75% {
          transform: translateX(-25vw);
        }
        100% {
          transform: translateX(-0vw);
        }
      }

      @media screen and (max-width: 900px) {
        justify-content: flex-start;
      }

      img {
        width: 50%;

        @media screen and (max-width: 900px) {
          width: 300px;
        }

        @media screen and (max-width: 600px) {
          width: 200px;
        }

        @media screen and (max-width: 400px) {
          width: 150px;
        }
      }
    }

    .titles {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      width: 50%;
      animation: titleShow ease-in-out 0.4s;

      @keyframes titleShow {
        0% {
          transform: translateX(100vw);
        }
        25% {
          transform: translateX(75vw);
        }
        50% {
          transform: translateX(50vw);
        }
        75% {
          transform: translateX(25vw);
        }
        100% {
          transform: translateX(0vw);
        }
      }

      p {
        font-size: 1.5rem;

        @media screen and (max-width: 600px) {
          font-size: 1.2rem;
        }

        @media screen and (max-width: 400px) {
          font-size: 0.7rem;
        }
      }

      .buttons {
        display: inline-flex;
        align-items: center;
        gap: 20px;

        button {
          width: 120px;
          height: 40px;
        }

        .favButton {
          svg {
            max-width: 50px;
            width: 100%;
            height: 40px;
            color: rgba(0, 0, 0, 0.247);

            &:hover {
              cursor: pointer;
              color: rgba(0, 0, 0, 0.447);
            }

            &:active {
              fill: rgba(0, 0, 0, 0.692);
            }
          }
        }
      }
    }
  }
}

.pending {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50vh;
}

.burger {
  position: absolute;
  top: 200px;
  left: 20px;
}
