.buttonBase {
  background-color: black;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 1.2em;
  color: white;
  transition: background-color ease-in-out 0.4s, color ease-in-out 0.4s,
    border ease-in-out 0.4s;

  &:hover {
    cursor: pointer;
    border: 1px solid black;
    background-color: white;
    color: black;
  }
}

.secondary {
  background-color: rgb(245, 141, 141);
  border: none;
  border-radius: 3px;
  font-size: 1.2em;
  color: white;
  transition: background-color ease-in-out 0.4s, color ease-in-out 0.4s,
    border ease-in-out 0.4s;

  &:hover {
    cursor: pointer;
    border: none;
    background-color: rgb(240, 95, 95);
    color: rgb(253, 249, 249);
  }
}

.--disabled {
  border: 1px solid black;
  background-color: white;
}
