.section {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 50px;
  background-color: rgba(211, 227, 241, 0.479);

  .wrapper {
    max-width: 1200px;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 145px;

    @media screen and (max-width: 1200px) {
      justify-content: center;
    }

    @media screen and (max-width: 755px) {
      gap: 50px;
    }
  }

  .showMore {
    max-width: 150px;
    width: 100%;
    padding-bottom: 20px;

    button {
      width: 100%;
      height: 50px;
    }
  }
}

.pending {
  div {
    span {
      @media screen and (max-width: 1200px) {
        justify-content: center;
        margin-left: 20%;
      }

      @media screen and (max-width: 980px) {
        display: none;
      }
    }
  }
}
